<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> <%= @project.name%> </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:estimated_time) %></th>
      <th><%= model_class.human_attribute_name(:real_time) %></th>
      <th><%= model_class.human_attribute_name(:status_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.id, task_path(task) %></td>
        <td><%= task.user.email if task.user %></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.estimated_time %></td>
        <td><%= task.real_time %></td>
        <td><%= task.status.name %></td>
        <td><%= task.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_task_path(task), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      task_path(task),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= nested_form_for @task, :url=>:add_task_project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= @task.project.name%>
      <%= f.hidden_field :project_id, :value=>@project.id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
       <%= f.collection_select(:user_id, User.all, :id, :email,{prompt: 'Asignar'},{ :class => "select2"} )%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estimated_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :estimated_time, :class => 'text_field' %> hr
    </div>
  </div>
  <div class="control-group">
    <%= f.label :real_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :real_time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status_id, :class => 'control-label' %>
    <div class="controls">
       <%= f.collection_select(:status_id, Status.all, :id, :name,{ :class => "select2"} )%>
    </div>
  </div>
<%= f.fields_for :steps do |t| %>

   <div class="field">
    <%= t.hidden_field :task_id %>
    <%= t.label :description %><br>
    <%= t.text_field :description %>
  </div>
   <div class="control-group">
            <div class="controls">
  <%= t.link_to_remove(:class => "remove_task ", :href => "#") do %>
  Remove Step
  <% end %>
</div>
</div>
<%end%>

<p>
  <%= f.link_to_add "Add a step", :steps , :class=>"btn btn-success"%></p>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_path(@project), :class => 'btn' %>
  </div>

<% end %>
